body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCF0EE; /* Light Cyan */
    color: #050402; /* Very Dark Brown */
}

.header {
    text-align: center;
    padding-top: 20vh; /* Push content down */
}

.header h1 {
    font-size: 3em;
    color: #050402; /* Very Dark Brown */
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.nav button {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border: none;
    color: #050402; /* Very Dark Brown */
    padding: 15px 25px;
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav button:hover {
    background-color: rgba(255, 255, 255, 1); /* Opaque white */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.about-container {
    padding: 20px;
    background-color: #DCF0EE; /* Light Cyan */
    min-height: 100vh;
}

.about-header img {
    width: 100%;
}

.about-content {
    margin-top: 20px;
    padding: 0 20px;
}

.about-content h1 {
    text-align: center;
    color: #050402; /* Very Dark Brown */
}

.about-content p {
    text-align: justify;
    color: #050402; /* Very Dark Brown */
    margin: 20px 0;
}

.upload-container {
    padding: 20px;
    text-align: center;
    background-color: #DCF0EE; /* Light Cyan */
    min-height: 100vh;
}

.upload-container h1 {
    color: #050402; /* Very Dark Brown */
    margin-bottom: 20px;
}

.upload-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.upload-container input[type="file"] {
    margin-bottom: 20px;
}

.upload-container button {
    background-color: #FDA07E; /* Orange */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-container button:hover {
    background-color: #D96A59; /* Darker Orange */
}

.upload-container img {
    max-width: 80%;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: white;
}
